body {
    color: black;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

div {
    display: block;
}

.top-container {
    background-color: peachpuff;
    position: relative;
    padding-top: 100px;
}

h1 {
   font-size: 5.625rem;
   margin: 50px auto 0 auto;
   font-family: "Sacramento", cursive; 
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

img {
    border-radius: 50%;
}

.intro {
    font-size: 2rem;
    color: royalblue;
    margin: auto;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) auto;
    gap: 10px;
    width: 50%;
    margin: auto;
    text-align: left;
}

.btn{
    background-color: blue;
    border-radius: 8px;
    color: wheat;
    font-size: 20px;
    padding: 10px 20px 10px 20px; 
    text-decoration: none;   
}

.bottom-container {
    background-color:lightgrey;
    padding: 100px 0 50px;
    text-decoration-line: none;
}

a {
    color:red;    
    text-decoration: none;
    cursor: pointer; 
    font-size: larger;       
}